.new-expense {
    border: 2px solid blue;
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    background-color: azure;
    margin: 10px auto 20px auto;
    box-shadow: 0 0 6px 1px lightblue;
}