* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: bold;
  font-size: large;
  background-image: url('../public/bg3.jpg');
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1;  */
  background: rgba(0, 0, 0, 0.7);
  /* opacity: 0.5; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(148, 138, 138, 0.6);
  /* opacity: 0.2; */
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
